@import 'application';


.about {
  text-align: left;
}

.content-header {
  text-align: center;
}

.accentuated {
  color: $theme-color_accent__main;
  font-size: 2.5em;
}

.profile-links {
  text-align: center;
  li {
    list-style-type: none;
  }
}
