.page__section {
    width: 100%;
    display: block;
    position: relative;
}

.page__section--hero {

}

.page__section--main-content {
    height: auto;
    min-height: 100vh;
    padding-top: 1em;
}
