[class^="section__page"] {
    width: 100%;
    display: block;
    position: relative;
}

.section__page__hero {

}

.section__page__main-content {
    height: auto;
    min-height: 100vh;
    padding-top: 1em;
}
