
$button-width: 3.0em;
$button-height: 3.0em;
$button-box-shadow: 0 0.3em 0.25em hsla(0, 0%, 0%, 0.19);

.button-set-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1 * ($button-width / 2);
    margin-left: -1 * ($button-width / 2);
}

.button-set-container {
    position: relative;
    height: 100%;
}

[class^="button-share"] {
    @extend %button__fab;
    width: $button-width;
    height: $button-height;
    background-image: none;
    background-color: $theme-color__primary;

    /* Make them all start in the same position */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1 * ($button-width/2);
    margin-left: -1 * ($button-width/2);
    cursor: pointer;

    &[class$="__link"] {

        a {
            @extend %button-link_fab;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
}

.button-share__toggle {
    box-shadow: $button-box-shadow;

    &.expanded ~ .button-share__link {
        box-shadow: $button-box-shadow;
    }
}


.button-share__link {
    box-shadow: none;
}





