%button {
    height: $button__height;
    width: $button__width;
    padding: 0.3em 0.8em;
    border: 1px solid $button__color;
    background-color: $button__color;
    background-image: linear-gradient(
            hsla(0, 0%, 100%, .2),
            transparent
    );
    border-radius: .2em;
    box-shadow: 0 .05em .25em hsla(0, 0%, 0%, 0.5);
    color: $font-color__button--white-on-dark-background;
    text-shadow: 0 -.05em .05em hsla(0, 0%, 0%, 0.5);
    font-size: 1.25em;
    line-height: 1.5em;
    text-align: center;
}

/**
 * A link styled as a button
 */
%link--button {
    @extend %button;
    text-decoration: none;
}

%button__fab {
    width: $button-fab__width;
    height: $button-fab__height;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: $button__color;
    box-shadow: 0 0.5em .25em hsla(0, 0%, 0%, 0.5);
    font-size: 1.25em;
}



%toolbar {
    color: $font-color__primary-text--white-on-dark-background;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: $navbar__height;
    background-color: $theme-color__primary--alt-light;
    max-width: 100%;
    width: 100%;
    font-size: 2.0rem;
    position: relative;
}

/**
 * Default helper styles when displaying an image via
 * the background-image property
 */
%background-image-display {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
