@import 'lib/styles/application';


@keyframes SlideOutUp {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}


.page-content__header {
  text-align: center;
  color: $color__theme__accent--main;
}
.page-content__header--accentuated {
  font-size: 2.5em;
}

.accentuated {
  color: $color__theme__accent--main;

}

[class^="link-map"] {
  text-align: center;
  list-style: none;
  padding-left: 0;
}

.gooey-share-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 6.2em;
}


#loaderContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &.remove {
    animation: SlideOutUp $animation-duration-multiplier * 88 $easings_ease-out-cubic;
    animation-fill-mode: forwards;
  }
}
