@import '../assets/styles/application';


.g__theme-color-primary {
    color: $theme-color__primary;
}


/* Animate in after load */
.js-intro-content,
.js-after-intro {
    opacity: 0;
}

.button-set-container {
    button {
        transition: inherit;
    }
}
